In [1]:
# Cant understand why i can t see 3 and 5 need to check better later Why the

In [2]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from getpass import getpass

In [3]:
password = getpass()

········

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [5]:
query1 = "SELECT COUNT(DISTINCT last_name) AS 'Distinct Surnames' FROM actor;"

query2 = '''SELECT *, MONTHNAME(rental_date) AS 'Month',
DAYNAME(rental_date) AS 'Weekday',
CASE
WHEN DAYNAME(rental_date) IN ('Saturday', 'Sunday') THEN 'Weekend'
ELSE 'Weekday'
END AS 'Day Type'
FROM rental;'''

query3 = "SELECT * FROM film WHERE title LIKE '%ARMAGEDDON%';"

query4 = "SELECT title, length FROM film ORDER BY length DESC LIMIT 10;"

query5 = "SELECT COUNT(title) AS 'Count of Titles' FROM film WHERE special_features LIKE '%Behind the Scenes%';"

query6 = '''SELECT
rating, ROUND(AVG(length), 2) AS 'Average Length'
FROM
film
GROUP BY rating
HAVING AVG(length) > 120;'''

query7 = '''SELECT title, length, DENSE_RANK()
OVER(ORDER BY length DESC)
AS 'Length Rank'
FROM film ORDER BY length DESC;'''

In [6]:
data1 = pd.read_sql_query(query1, engine)
data1.head(1)

   Distinct Surnames
0                121

In [7]:
data2 = pd.read_sql_query(query2, engine)
data2.head(1)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,Month,Weekday,Day Type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,May,Tuesday,Weekday

In [9]:
data3 = pd.read_sql_query(query3, engine)
print(data3.head(1))

ValueError: unsupported format character 'A' (0x41) at index 38

In [10]:
data4 = pd.read_sql_query(query4, engine)
data4.head(1)

            title  length
0  DARN FORRESTER     185

In [11]:
data5 = pd.read_sql_query(query5, engine)
data5.head(1)

ValueError: unsupported format character 'B' (0x42) at index 81

In [12]:
data6 = pd.read_sql_query(query6, engine)
data6.head(1)

  rating  Average Length
0  PG-13          120.44

In [13]:
data7 = pd.read_sql_query(query7, engine)
data7.head(1)

           title  length  Length Rank
0  CHICAGO NORTH     185            1